/* .App {
  text-align: center;
}

body {
  background-color: rgb(251, 251, 30);
}

.startingPage {
  background-color: red;
  color: yellow;
  margin-top: 20%;
  margin-left: 40%;
  width: 300px;
  height: 100px;
  border: 2px solid black;
}

label {
  margin: 10px;
} */

.App {
  text-align: center;
 }
 
 body {
  background-color: rgb(251, 251, 30);
 }
 

 .startingPage {
  background-color: purple;
  color: yellow;
  margin-top: 20%;
  margin-left: 40%;
  width: 300px;
  height: 100px;
  border: 2px solid black;
 }
 
 label {
  margin: 10px;
 }
 
 .userProfile {
  background-color: rgb(8, 163, 85);
 }
 
 .registrationPage {
  background-color: purple;
 }
 
 .userSynopsis{
   background-color: cadetblue;
   color: white;
   float: left;
 }
