.head {
  position: relative;
  border: 2px solid black;
  background: rgb(5, 191, 197);
  height: 100px;
  text-align: center;
}

.kwitterIcon {
  position: relative;
  border: 2px solid black;
  background-image: url("photos/stockIcon.gif");
  background-size: 100% 100%;
  border-radius: 50%;
  height: 100%;
  width: 100px;
  left: 20px;
}

h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  bottom: 110px;
  color: white;
  font-family: fantasy;
  font-size: 40px;
}

h2 {
  position: relative;
  z-index: 2;
  text-align: center;
  bottom: 100px;
  color: white;
  font-family: fantasy;
  font-size: 10px;
}
