.login-form {
  display: flex;
  justify-content: center;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgba(231, 180, 180, 0.562);
  padding: 20px;
}
