
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: auto;
<<<<<<< HEAD
  height: 900px;
  /* max-width: 1200px; */
}

.form {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}

.gridcolumn1 {
=======
  height: 800px;
  /* max-width: 1200px; */
 }
 
 .form {
  display: flex;
  justify-content: center;
  margin: auto;
  /* padding-top: 30px; */
 }
 
 .gridcolumn1 {
>>>>>>> b915baba06926f63e6d6fa9eb9dd2f432aea2044
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
 }
 
 .gridcolumn2 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: auto;
<<<<<<< HEAD
}

.gridcolumn3 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}
.button {
  margin: auto;
  padding: 10px;
}

.segment {
  padding: 10px;
}

/* .column1 {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  border: 2px solid grey;
  height: 1000px;
=======
  padding: 20px;
 }
 
 .gridcolumn3 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
>>>>>>> b915baba06926f63e6d6fa9eb9dd2f432aea2044
  margin: auto;
  padding: 20px;
 }
 .button {
  margin: auto;
  padding: 10px;
 }