.grid {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  margin: auto;
  height: 800px;
  max-width: 1200px;
}

.gridcolumn1 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}

.gridcolumn2 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}

.gridcolumn3 {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}

.input {
  width: 200px;
}

.submitchangebutton {
  text-align: center;
}

.logoutbutton {
  text-align: center;
}

.deleteuserbutton {
  text-align: center;
}

.uploadphoto {
  text-align: center;
}

/* .column1 {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  border: 2px solid grey;
  height: 1000px;
  margin: auto;
}

.profilefeed {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  border: 2px solid grey;
  height: 1000px;
  margin: auto;
} */

/* .column2 {
  display: flex;
  justify-content: center;
  background-color: white;

  border-left: 2px solid grey;
  border-right: 2px solid grey;
  height: 1000px;
} */
